/*Resets*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@font-face {
  font-family:"Fremont Regular";
  src: url("./fonts/FremontRegular.ttf");
}*/

/*Global*/

.App {
  /*background-color: black;*/
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(0.45deg, #52070d, black);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-row-gap: 2rem;
  grid-template-rows: 1fr repeat(3, min-content) 5fr;
}
